<%-include("./partials/header.ejs")%>
    <main class="aboutMain">
        <div class="aboutContainer">
            <p class="aboutParagraph">Share X is an single-user web application for blogging, this web app help the user to write a blog (point of view, perspective, opinion, idea...ect).<br /> 
                This web app allow the user to edit or delete his/her blogs in "My posts" section.<br /> 
                Share X still in version 1, that version allow the user to post a text message blogs.<br />
                In the next versions other features is going to be added including posting images or videos...
            </p>
        </div>
    </main>
<%-include("./partials/footer.ejs")%>