<%-include("./partials/header.ejs")%>
    <main class="contactContainer">
        <a href="mailto:imadroudane88@gmail.com" class="anchore">
            <div class="SocialDivs gmailDiv">
                <div class="brand gmail"><img class="contactImages" src="images/gmailLogo.jpg" alt="gmail_logo"></div>
                <div class="me meOnGmail"><img class="contactImages" src="images/meOnGmail.jpg" alt="me_on_Gmail"></div>
                <div class="username GmailUsername"><p class="name">imadroudane88@gmail.com</p></div>
            </div>
        </a>
        <a href="https://github.com/imadroudane" class="anchore">
            <div class="SocialDivs githubDiv">
                <div class="brand github"><img class="contactImages" src="images/githubLogo.jpg" alt="github_logo"></div>
                <div class="me meOnGithub"><img class="contactImages" src="images/meOnGithub.jpg" alt="me_on_github"></div>
                <div class="username GithubUsername"><p class="name">imadroudane</p></div>
            </div>
        </a>
        <a href="https://web.facebook.com/imad.roudane.7" class="anchore">
            <div class="SocialDivs facebookDiv">
                <div class="brand facebook"><img class="contactImages" src="images/facebookLogo.jpg" alt="facebook_logo"></div>
                <div class="me meOnFacebook"><img class="contactImages" src="images/meOnFacebook.jpg" alt="me_on_facebook"></div>
                <div class="username facebookUsername"><p class="name">Imad Roudane</p></div>
            </div>
        </a>
    </main>
<%-include("./partials/footer.ejs")%>