<%-include("./partials/header.ejs")%>
    <main class="indexMain">
        <div class="logoMain">
            <img src="images/shareX1.1(2).png" alt="shareX_Logo" class="imageMain">
        </div>
        <div class="mainText1">Make your day better</div>
        <div class="mainText2">Share your ideas</div>
        <div class="mainButtons">
            <button class="mainButton" onclick="window.location.href='/write'">Post</button>
            <button class="mainButton" onclick="window.location.href='/blogs'">Navigate</button>
        </div>
    </main>
<%-include("./partials/footer.ejs")%>